
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
jspm_packages/

*.tsbuildinfo

.npm/
.eslintcache

.node_repl_history
.yarn-integrity

.env
.DS_Store
.thumbnails

.vscode/
!.vscode/extensions.json # Keep extensions.json
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project
*.suo
*.ntvs**
*.njsproj
*.sln
*.sw?

dist/
dist-ssr/
build/
.vite/
coverage/

client/dist/
client/.env

server/node_modules/
server/.env

*.local
